[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "==0.8.1"
pandas = "==2.0.3"
matplotlib = "==3.8.0"
requests = "==2.31.0"
scikit-learn = "==1.2.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
